@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color-primario: #F8EDED;
    --color-secundario: #FF8225;
    --color-terciario: #B43F3F;
    --color-cuaternario:#173B45;

    --fuente-montserrat: "Montserrat", sans serif;
    --fuente-krona: "Krona One", sans serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--color-primario);
    color: var(--color-terciario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}
   
.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
}


.titulo-destaque{ 
    color:var(--color-secundario);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
        
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlace_subtitulos{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlaces_link{

    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
    border: 2px solid var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion_enlaces_link:hover{
    background-color: var(--color-cuaternario);
}

.presentacion_imagen{
    width: 50%;
}

.footer{
   background-color:var(--color-secundario);
   padding: 1.5rem;
   text-align: center;
   font-family: var(--fuente-montserrat);
   font-weight: 400;
   font-size: 1.5rem;
   color: var(--color-primario);
}

@media(max-width: 1200px){

    .hearder{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;
    }
}




/*Asi agregamos un comentario
